<div class="ui main text container">
<h1 class="ui header">Login</h1>
<form class="ui form" name="form" ng-submit="login(form)" novalidate>
    <div class="field">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>
    </div>

    <div class="field">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>
    </div>

    <div class="field has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
            Please enter your email and password.
        </p>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
            Please enter a valid email.
        </p>
        <p class="help-block">{{ errors.other }}</p>
    </div>

    <button class="ui primary button" type="submit">Login</button>
    <a class="ui secondary button" ui-sref="main.signup">Register</a>
</form>
<div class="ui horizontal divider">Or</div>
<div>
    <a class="ui facebook button" href="" ng-click="loginOauth('facebook')">
        <i class="facebook circular icon"></i>Login with Facebook
    </a>
    <a class="ui google plus button" href="" ng-click="loginOauth('google')">
        <i class="google plus circular icon"></i>Login with Google+
    </a>
</div>
</div>
