<div class="ui menu" ng-controller="NavbarCtrl">
  <a href="/" class="header item">PosterScores</a>
  <a ng-repeat="item in menu" class="item" ng-class="{active: isActive(item.link)}" ng-href="{{item.link}}">{{item.title}}</a>
  <a ng-show="isAdmin()" class="item" ng-class="{active: isActive('/admin')}" href="/admin">Admin</a>

  <div class="right menu">
    <a ng-hide="isLoggedIn()" class="item" ng-class="{active: isActive('/signup')}" href="/signup">Sign up</a>
    <a ng-hide="isLoggedIn()" class="item" ng-class="{active: isActive('/login')}" href="/login">Login</a>
    <div ng-show="isLoggedIn()" class="item">Hello {{ getCurrentUser().name }}</div>
    <a ng-show="isLoggedIn()" class="item" ng-class="{active: isActive('/settings')}" href="/settings"><i class="setting icon"></i></a>
    <a ng-show="isLoggedIn()" class="item" ng-class="{active: isActive('/logout')}" href="" ng-click="logout()">Logout</a>
  </div>
</div>
