<!-- Following Menu -->
<div class="ui large top fixed inverted pointing menu" ng-controller="NavbarCtrl">
  <div class="ui container">
    <a ng-repeat="item in menu" class="item" ng-class="{active: isActive(item.link)}" ng-href="{{item.link}}">{{item.title}}</a>
    <a ng-show="isAdmin()" class="item" ng-class="{active: isActive('/admin')}" ui-sref="main.admin" >Admin</a>
    <div class="right menu">
      <div ng-show="isLoggedIn()" class="item">Hello {{ getCurrentUser().name }}</div>
      <a ng-show="isLoggedIn()" class="item" ng-class="{active: isActive('/settings')}" ui-sref="main.settings"><i class="setting icon"></i></a>
      <a ng-show="isLoggedIn()" class="item" ng-class="{active: isActive('/logout')}" href="" ng-click="logout()">Logout</a>
      <div ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}" class="item">
        <a class="ui primary button" ui-sref="main.signup">Sign up</a>
      </div>
      <div ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}" class="item">
        <a class="ui button" ui-sref="main.login">Login</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu TODO: THIS!!!!-->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>
